<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chuck Norris | Random Jokes</title>
<script defer th:src="@{/js/alpine-3.10.5.min.js}" src="../static/js/alpine-3.10.5.min.js"></script>
<link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container" x-data>		    
		<div class="col-6 mx-auto text-center mt-5 mb-5">
			<row>
			<p>This is 'One Click' deploy pipeline from Victor desktop to Railways Cloud platform test ... </p>
			</row>
			<row>
			<button class="btn btn-primary mb-5" x-on:click.prevent="$store.data.getJoke()">Get Joke</button>
			</row>
			<row>
			<div x-transition x-text="$store.data.joke"></div>
			</row>
		</div>
	</div>

	<script th:inline="javascript">
    	document.addEventListener('alpine:init', () => {
    		Alpine.store('data', {
    			cnApiRandomJokeUrl: [[${cnRandomJokeUrl}]],
    			joke: 'Click on Get Joke Button ...',
                async getJoke() {
                	let response = await fetch(this.cnApiRandomJokeUrl);
                    let jokes = await response.json();
                    this.joke = jokes['value'];
    			},
        	})
    	})	
	</script>	
</body>
</html>
