<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chuck Norris | Random Jokes</title>
<script defer th:src="@{/js/alpine-3.10.5.min.js}" src="../static/js/alpine-3.10.5.min.js"></script>
<script
  src="https://browser.sentry-cdn.com/7.47.0/bundle.min.js"
  integrity="sha384-GKT6T43bg4L3ymiK0JLBjIrUnu2sJPDAngs6/WEEADaDYlCx/fq4MSCl42UC3n8O"
  crossorigin="anonymous">
  </script>
<link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container" x-data>		    
		<div class="col-6 mx-auto text-center mt-5 mb-5">
			<row>
			<p>This is 'One Click' deploy pipeline from Victor desktop to <br>Railways Cloud platform test ... </p>
			</row>
			<row>
			<button class="btn btn-primary mb-5" x-on:click.prevent="$store.data.getJoke()">Get Directly</button>
			</row>
			<row>
			<button class="btn btn-primary mb-5" x-on:click.prevent="$store.data.getJokeViaProxy()">Get Via Proxy</button>
			</row>
			<row>
			<button class="btn btn-danger mb-5" x-on:click.prevent="crashAndReportError()">Report error</button>
			</row>
			<row>
			<button class="btn btn-danger mb-5" x-on:click.prevent="crashTheWorld()">Throw unhandled exception</button>
			</row>
			<row>
			<div x-transition x-text="$store.data.joke"></div>
			</row>
		</div>
	</div>

	<script th:inline="javascript">
    	document.addEventListener('alpine:init', () => {
    		Alpine.store('data', {
    			proxyUrl: '/api/randomJoke',
    			cnApiRandomJokeUrl: [[${cnRandomJokeUrl}]],
    			joke: '',
                async getJokeViaProxy() {
                	let response = await fetch(this.proxyUrl);
                    let jokes = await response.json();
                    console.log(jokes);
                    this.joke = jokes['value'];
    			},
                async getJoke() {
                	let response = await fetch(this.cnApiRandomJokeUrl);
                    let jokes = await response.json();
                    console.log(jokes);
                    this.joke = jokes['value'];
    			},
        	})
    	});	
    	
		Sentry.init({
            dsn: [[${@environment.getProperty('sentry.dsn')}]],
            beforeSend(event, hint) {
                if (event.exception) {
                    Sentry.showReportDialog({ eventId: event.event_id });
                }
                return event;
            }
        });
    	
        //Sentry.captureMessage("Initialized Sentry", "info");

        function crashAndReportError() {
        	var errorEvent = new Error('Congrats, you broke it');
        	Sentry.captureException(errorEvent);
            Sentry.showReportDialog({ eventId: errorEvent.event_id })
        }
	</script>	
</body>
</html>
