<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chuck Norris | Random Jokes</title>
<script defer th:src="@{/js/alpine-3.10.5.min.js}" src="../static/js/alpine-3.10.5.min.js"></script>
<link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<row>
		<div class="col-6 mx-auto text-center mt-5 mb-5">
			<div
				x-data="{ 
                        joke: '',
                        cnApiRandomJoke:'https://api.chucknorris.io/jokes/random',
                        async getJoke() {
                            let response = await fetch(this.cnApiRandomJoke);
                            let jokes = await response.json();
                            this.joke = jokes['value'];
                        }
                    }">
				<button class="btn btn-primary mb-5" x-on:click.prevent="getJoke">Get a joke</button>
				<div x-transition x-text="joke"></div>

			</div>
		</div>
		</row>
	</div>
</body>
</html>
